<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <%= link_to "Home", root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown-7" aria-controls="navbarNavDropdown-7" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown-7">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Password", edit_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "MFA", mfa_new_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "SignOut", destroy_user_session_path, method: :delete, data: {confirm: 'Are you sure?'}, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>